/* RESET E SET CONFIGS */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  --back-color: rgb(237, 242, 255);
  --btn-color: rgb(66, 99, 235);
  --btnHover-color: rgb(54, 79, 199);
  --title-text-color: rgb(0, 8, 47);
  --userName-color: rgba(0, 8, 47, 0.8);
  --text-footer-color: rgba(0, 8, 47, 0.6);
}

body.dark-blue {
  --back-color: rgb(0, 8, 47);
  --title-text-color: rgb(237, 242, 255);
  --userName-color: rgba(237, 242, 255, 0.8);
  --text-footer-color: rgba(254, 254, 254, 0.6);
}

body.pink {
  --back-color: rgb(229, 229, 229);
  --title-text-color: rgb(31, 0, 11);
  --userName-color: rgba(31, 0, 11, 0.8);
  --btn-color: rgb(214, 51, 108);
  --btnHover-color: rgb(166, 30, 77);
  --text-footer-color: rgba(31, 0, 11, 0.6);
}

body.dark-pink {
  --back-color: rgb(31, 0, 11);
  --title-text-color: rgb(237, 242, 255);
  --userName-color: rgba(237, 242, 255, 0.8);
  --btn-color: rgb(214, 51, 108);
  --btnHover-color: rgb(166, 30, 77);
  --text-footer-color: rgba(255, 240, 246, 0.6);
}

.container {
  width: 300px;
  text-align: center;
  margin: 60px auto;
}

body {
  background-color: var(--back-color);
  color: var(--title-text-color);
  font-family: "Roboto", sans-serif;
}

img {
  width: 100%;
  margin-bottom: 24px;
}

img.avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 3.7px;
  border: 4px solid var(--btn-color);
}

h1 {
  font-size: 2rem;
  margin-bottom: 8px;
}

.userName {
  font-family: "Roboto Mono";
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 48px;
  color: var(--userName-color);
}

ul li a {
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--btn-color);
  color: white;

  cursor: pointer;

  font-size: 14px;
  font-weight: 700;

  margin-bottom: 16px;
  border-radius: 6px;
}

ul li a:hover {
  background-color: var(--btnHover-color);
  transition: 0.2s;
}

footer {
  margin-top: 34px;
  font-size: 12px;
  font-weight: 500;
  opacity: 0.6;
}

footer a {
  color: var(--footer-text-color);
}

footer a:hover {
  transition: 1s;
  color: var(--btn-color);
}

footer span:hover {
  transition: 0.2s;
  color: var(--btnHover-color);
}
